@import "../../../color-variables.scss";

.form-section {
    background-color: #351686;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    gap: 50px;

    
    h3 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
    }

    .text {
        flex: 1;
    }

    form {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        width: 100%;

        input {
            background: none;
            border: none;
            border-bottom: 1px solid white;
            width: 100%;
            height: 60px;
            margin-bottom: 40px;
            color: white;
            padding-left: 10px;
        }
    }
}

@media(min-width: 1000px) {
    .main {
        flex-direction: row;
        gap: 115px;
        padding: 40px 0px;

        h3 {
            font-size: 36px;
            margin-bottom: 20px;
        }
    
        p {
            font-size: 16px;
        }
    }
}