.app-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
}

@media (min-width:1000px) {
    img {
        width: 200px;
        height: 250px;
    }
}