@import "../../../color-variables.scss";

img {
    width: 100%;
    height: fit-content;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 25px;

    h3 {
        color: #0D002E;
        font-size: 20px;
        font-weight: 600;
    }

    p {
        margin-top: 12px;
        font-weight: 400;
        font-size: 12px;
        color: $secondary-text;
    }
}

@media (min-width: 1000px) {
    .card {
        h3 {
            font-size: 32px;
        }
    
        p {
            font-size: 16px;
        }
    }
}