<app-header></app-header>

<main>
    <section class="main-section max-width">
        <div class="headline">
            <span>KIPPER CONSULTORIA</span>
            <h1>A consultoria que você busca para o seu software</h1>
        </div>
        <img ngSrc="assets/principal.png" priority width="250" height="200">
    </section>

    <section class="benefit-section p-70 max-width">
        <div class="benefit-data">
            <h2>
                95% das <br/> empresas
            </h2>
        </div>
        <p>não sabem como lidar com problemas de <b>escalibilidade</b> e grande volume de requisições.</p>
    </section>

    <section class="cta-section">
        <btn-primary btn-text="Fale com nossos especialistas"></btn-primary>
    </section>

    <newsletter-form></newsletter-form>

    <section class="cards-section p-70 max-width">
        <app-card-component title="Equipe Capacitada" image="card-1.png"></app-card-component>
        <app-card-component title="Seus Projetos Guiados Do Zero" image="card-2.png"></app-card-component>
    </section>

    <section class="cte-section p-70">
        <h4>Quer elevar seu software e seus <br/> negócios para outro nível?</h4>
        <btn-primary btn-text="Fale com nossos especialistas"></btn-primary>
    </section>
</main>

<app-footer></app-footer>